.MuiTableCell-stickyHeader {
  background-color: rgb(27, 31, 34) !important;
  color: rgb(203, 205, 206) !important;
}

.MuiTableCell-body {
  color: rgb(247, 249, 249) !important;
  font-weight: 500 !important;
}

.MuiTableCell-root {
  border-bottom: 1px solid rgb(44, 49, 52) !important;
}

.firstRow {
  background-color: rgba(248, 232, 107, 0.589);
}
