@import "../../assets/scss/variables";

.home {
  #homePageVideoBg {
    z-index: -99999;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .homePageContent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;

    .overFlowText {
      color: #f1f1f1;
      width: 100%;
      padding: 5rem;
    }
  }

  .slogan {
    font-size: 4rem;
    font-family: "PoppinsBlackItalic";
  }
  .productPresentation {
    font-size: 1.5rem;
  }
}
